
service_name: travis-pro
repo_token: 9Gz8lbFOfnCehczzQnPMy49awudPW4Rzz

sudo: false
language: python
python:
- '2.7'
env:
  matrix:
  - PLONE_VERSION=plone-4.3
  global:
    secure: W2O1Nhru3ZqgoUZuKf1NxnOfsmM4GzD+xSadM4HhetN1V3oNWrJ4gYnIaJ7wK3qWv8zcwKcWj0KtXETnSOIfyEEn3RS+5Y3l1Ltl3AnRz2vdwKWjeJut+xHcyEfLpUaouIp2JTu96xnMcO8qvWGKnX5jHDTXaIHNq5BKUZtQi/U=


cache:
  directories:
    - eggs

after_success:
 - test -v QA && pip install python-coveralls==2.4.0 || true
 - test -v QA && coveralls || true

matrix:
  include:
  - python: 2.7
    env: PLONE_VERSION=plone-5.0
script:
- bash build_test.sh $PLONE_VERSION


notifications:
  irc:
    channels:
    - irc.freenode.org#sprint
    template:
    - '%{repository}/#%{build_number}/%{branch} (%{author}): %{message} %{build_url}'

