# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =  
    instance
    zopepy
    i18ndude
    zopeskel
    test

package-name = zopyx.existdb

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources

versions = versions

auto-checkout = 

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 12020
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
zope-conf-additional = %import sauna.reload

eggs =
    Pillow
    Plone
    sauna.reload
    zopyx.existdb

zcml = 
    zopyx.existdb

# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create ZopeSkel and paster commands with dexterity support
[zopeskel]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ZopeSkel
    PasteScript
    zopeskel.dexterity

[sources]


[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    plone.app.testing
    ${instance:eggs}


[versions]
#setuptools = 2.2
zopeskel.dexterity = 1.5.4.1
ZopeSkel = 2.21.1
setuptools = 6.0.2
Cheetah = 2.2.1
PyYAML = 3.11
argh = 0.25.0
dexml = 0.5.1
fs = 0.5.0
humanize = 0.5
hurry.filesize = 0.9
i18ndude = 3.3.5
pathtools = 0.1.2
plone.api = 1.2.1
sauna.reload = 0.5.1
watchdog = 0.8.1
requests = 2.4.1
