# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =  
    instance
    zopepy
    i18ndude
    zopeskel
    pytest

package-name = zopyx.existdb

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources

versions = versions

auto-checkout = 

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 12020
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
zope-conf-additional = %import sauna.reload

eggs =
    Pillow
    Plone
    sauna.reload
    zopyx.existdb

zcml = 
    zopyx.existdb

# zopepy commands allows you to execute Python scripts using a PYTHONPATH 
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[pytest]
recipe = zc.recipe.egg
eggs =
    pytest
    pytest-cov
    pytest-flakes
    pytest-pep8
    BeautifulSoup
    ${instance:eggs}
scripts = py.test


# create ZopeSkel and paster commands with dexterity support
[zopeskel]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    ZopeSkel
    PasteScript
    zopeskel.dexterity

[sources]

# Version pindowns for new style products go here - this section extends one 
# provided in http://dist.plone.org/release/
[versions]
setuptools = 2.2
zopeskel.dexterity = 1.5.4.1
selenium = 2.39.0
ZopeSkel = 2.21.1
py = 1.4.20
