[buildout]
extends = buildout-plone-5.0.cfg

parts += 
    test

auto-checkout = 
    xmldirector.demo
    pp.client-plone
    pp.client-python

[instance]
eggs +=
    pdbpp
    pp.client-plone    
    xmldirector.demo
    pp.client-plone

zcml +=
#    xmldirector.demo


[sources]
xmldirector.demo = git git@github.com:xml-director/xmldirector.demo.git
pp.client-plone = git git@bitbucket.org:ajung/pp.client-plone.git
pp.client-python = git git@bitbucket.org:ajung/pp.client-python.git

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    plone.app.testing
    ${instance:eggs}


[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory} '
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--layer=PloneApiLayer:Integration']

