# Integration with Produce & Publish conversion server

[buildout]
extends = buildout-plone-4.3.cfg
sources = sources
auto-checkout = 
    pp.client-plone
    pp.client-python


[instance]
eggs += 
    pp.client-plone
    pp.client-python

[sources]
pp.client-plone = git git@bitbucket.org:ajung/pp.client-plone.git
pp.client-python = git git@bitbucket.org:ajung/pp.client-python.git
