#form-widgets-connector_db_subpath {
    width: 400px;
}

#logging .level-info {
    color: green;
}

#logging .level-warn {
    color: orange;
}

#logging .level-error {
    color: red;
    font-weight: bold;
}

#logging td {
    text-align: center !important;
    vertical-align: top;
}

#logging td.log-text {
    text-align: left !important;
}

#logging tbody tr.even,
#logging tbody tr:nth-child(even) {
    background-color: #dddddd !important;
}

#logging tbody tr.odd,
#logging tbody tr:nth-child(odd) {
    background-color: #eeeeee !important;
}

.status-ok {
    color: green;
    font-weight: bold;
}

.status-error {
    color: red;
    font-weight: bold;
}

#content .actions {
    border-top: 1px solid #329fd7;
    cursor: pointer;
    margin-bottom: 1em;
}

#content .actions ul {
    padding: 0;
    margin: 0;
}

#content .actions li {
    display: inline;
    padding-right: 1em;
    font-weight: bold;
}

#content .actions a {
    text-decoration: none;
    border: none;
}


#content .actions a:before {
    content: '\00bb';
    padding-right: 0.25em;
}

/* ACE editor  */

.ace_editor {
    margin-top: 1em;
    margin-bottom: 1em;
}

#content #ace-editor-info {
    padding-left: 0;
    margin: 0;
    margin-top: 1em;
    border: 0;
    border-top: 1px solid black;
}

#ace-editor-info li {
    display: inline;
}

#ace-editor-info li:before {
    content: "\00bb";
    padding-right: 0.15em;
}

button.button,
button.xml-editor {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 1.2em;
    padding: 4px;
}

/* hide folder contents action */
.portaltype-xmldirector-plonecore-connector #contentview-folderContents {
    display: none;
}

/* mimetype icons */

a.type-directory,
a.type-file {
    border: none !important;
    word-break: break-all;
}

a.type-directory span,
a.type-file span {
    display: inline-block;
}

a.type-directory:before,
a.type-file:before {
    content: '';
    background-size: contain;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
}

a.type-directory:before {
    background-image: url(++resource++xmldirector.plonecore/images/directory.svg) !important;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}



input.xmlxpath-field {
    width: 80% !important;
}

#connection-test .info {
    color: green;
    font-weight: bold;
}

#connection-test .error {
    color: red;
    font-weight: bold;
}

.xml-editor-validation-msg {
    display: block;
}

/* Plone 5 specific settings */

.plone-toolbar-left {
    z-index: 100 !important;
}

/* Validator registry */

.template-transformer-registry table,
.template-validator-registry table ,
.template-transformer-registry-view #editor,
.template-validator-registry-view #editor {
    margin-top: 2em;
}

.icon-controlpanel-xmldirector_plonecore_lockmanager:before,
.icon-controlpanel-xmldirector_plonecore_introspection:before, 
.icon-controlpanel-xmldirector_plonecore:before {
    content: '\e846';
}

/* Grid */
td.field-size {
    white-space: nowrap;
    text-align: right;
}

td.field-modified {
    white-space: nowrap;
    text-align: center;
}

td.field-type {
    text-align: center;
}



/* ZIP upload */

div#import-path {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.template-connector-zip-import legend {
    font-size: 1.0rem !important;
}

.template-connector-zip-import .help {
    font-style: italic !important;
    margin-bottom: 1em;
}

fieldset#zip-upload {
    float: left;
    width: 45%;
}

fieldset#uploadify {
    float: right;
    width: 45%;
}

input.zip-upload {
    border-radius: 20px;
    border: 1px solid #808080;
    background: #606060;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    
}

/* misc */
#connection-url {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.editor { 
    position: relative;
    height: 500px;
    margin-bottom: 1em;
}

.status-ok {
    font-weight: bold;
    color: green;
}

.status-error {
    font-weight: bold;
    color: red;
}

.action-zip-download,
.action-download,
.action-edit,
.action-delete,
.action-rename {
    float: right;
    margin-left: 0.5em;
}

/* plone.app.toolbar icon, folder contents icon (Cloud u+2601) */
#edit-zone .contenttype-xmldirector-plonecore-connector:after, 
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-xmldirector-plonecore-connector:before {
    content: "\2601";
}

/* Dropzone-JS */
.dropzone {
    border: 3px dashed #99ccff !important;
}

.dz-message {
    font-size: 2em;
    background: #99ccff;
    padding: 2em;
}

/* ag-grid */

.cell-center {
    text-align: center;
}

#query {
    width: 300px;
    display: inline-block;
}

a.type-file:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/bin-file-format.svg) !important;
}

a.type-file[data-ext*="txt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/txt-file-symbol.svg) !important;
}

a.type-file[data-ext*="dtd"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dtd-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="3gp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/3gp-file-format.svg) !important;
}

a.type-file[data-ext*="exe"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/exe-file-format-variant.svg) !important;
}

a.type-file[data-ext*="js"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/js-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="com"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/com-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dbf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dbf-file-format.svg) !important;
}

a.type-file[data-ext*="iso"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/iso-file-format.svg) !important;
}

a.type-file[data-ext*="sitx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sitx-file-format.svg) !important;
}

a.type-file[data-ext*="app"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/app-file-symbol.svg) !important;
}

a.type-file[data-ext*="xlr"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/xlr-file-format-variant.svg) !important;
}

a.type-file[data-ext*="aac"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/aac-file-format-variant.svg) !important;
}

a.type-file[data-ext*="crx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/crx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="gzip"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gzip-file-format-variant.svg) !important;
}

a.type-file[data-ext*="pl"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pl-file-format-variant.svg) !important;
}

a.type-file[data-ext*="3ds"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/3ds-file-format-extension.svg) !important;
}

a.type-file[data-ext*="msg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/msg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="tex"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/tex-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dwg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dwg-file-format-variant.svg) !important;
}

a.type-file[data-ext*="mp4"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mp4-music-file-format.svg) !important;
}

a.type-file[data-ext*="py"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/py-file-format.svg) !important;
}

a.type-file[data-ext*="torrent"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/torrent-symbol-file-format.svg) !important;
}

a.type-file[data-ext*="zip"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/zip-file-format.svg) !important;
}

a.type-file[data-ext*="hqz"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/hqz-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="indd"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/indd-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cdr"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cdr-file-format-extension.svg) !important;
}

a.type-file[data-ext*="aif"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/aif-file-symbol.svg) !important;
}

a.type-file[data-ext*="log"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/log-file-format.svg) !important;
}

a.type-file[data-ext*="tiff"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/tiff-file-extension-symbol.svg) !important;
}

a.type-file[data-ext*="pptx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pptx-file-format.svg) !important;
}

a.type-file[data-ext*="ai"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ai-file-format.svg) !important;
}

a.type-file[data-ext*="sql"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sql-file-format.svg) !important;
}

a.type-file[data-ext*="otf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/otf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="odx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odx-file-format-interface.svg) !important;
}

a.type-file[data-ext*="ppt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ppt-business-presentation-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cpl"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cpl-file-format.svg) !important;
}

a.type-file[data-ext*="wmv"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wmv-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="mid"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mid-file-format-extension.svg) !important;
}

a.type-file[data-ext*="odt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odt-file-format-symbol-1.svg) !important;
}

a.type-file[data-ext*="mpg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mpg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="pif"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pif-file-format-variant.svg) !important;
}

a.type-file[data-ext*="pps"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pps-file-format.svg) !important;
}

a.type-file[data-ext*="ra"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ra-file-symbol.svg) !important;
}

a.type-file[data-ext*="odi"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odi-file-format.svg) !important;
}

a.type-file[data-ext*="iff"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/iff-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="rss"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rss-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="lnk"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/lnk-file-format.svg) !important;
}

a.type-file[data-ext*="ods"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ods-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="mach"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mach-o-file-format-variant-symbol.svg) !important;
}

a.type-file[data-ext*="vcf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/vcf-file-symbol.svg) !important;
}

a.type-file[data-ext*="jpg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/jpg-file-format-variant.svg) !important;
}

a.type-file[data-ext*="srt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/srt-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="kml"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/kml-file-format-interface.svg) !important;
}

a.type-file[data-ext*="sys"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sys-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="elf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/elf-file-format.svg) !important;
}

a.type-file[data-ext*="mdf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mdf-icon-format.svg) !important;
}

a.type-file[data-ext*="vob"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/vob-file-format-variant.svg) !important;
}

a.type-file[data-ext*="csr"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/csr-file-format-variant.svg) !important;
}

a.type-file[data-ext*="dmp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dmp-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="drv"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/drv-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="xhtml"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/xhtml-file-format-variant.svg) !important;
}

a.type-file[data-ext*="ged"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ged-icon-file-format.svg) !important;
}

a.type-file[data-ext*="odt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odt-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="asp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/asp-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cer"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cer-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="eps"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/eps-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="vcd"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/vcd-file-format-variant.svg) !important;
}

a.type-file[data-ext*="max"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/max-file-format-extension.svg) !important;
}

a.type-file[data-ext*="yuv"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/yuv-file-format.svg) !important;
}

a.type-file[data-ext*="rar"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rar-file-format.svg) !important;
}

a.type-file[data-ext*="bak"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/bak-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="ics"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ics-file-format.svg) !important;
}

a.type-file[data-ext*="wsf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wsf-file-format.svg) !important;
}

a.type-file[data-ext*="apk"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/apk-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="gam"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gam-file-format.svg) !important;
}

a.type-file[data-ext*="mim"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mim-file-format-variant.svg) !important;
}

a.type-file[data-ext*="m3u"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/m3u-file-format-variant.svg) !important;
}

a.type-file[data-ext*="bat"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/bat-file-format.svg) !important;
}

a.type-file[data-ext*="nes"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/nes-file-format-variant.svg) !important;
}

a.type-file[data-ext*="jar"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/jar-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dfx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dfx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="pub"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pub-file-format.svg) !important;
}

a.type-file[data-ext*="7z"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/7z-file-format-variant.svg) !important;
}

a.type-file[data-ext*="fnt"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/fnt-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="tga"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/tga-file-format.svg) !important;
}

a.type-file[data-ext*="obj"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/obj-file-format-variant.svg) !important;
}

a.type-file[data-ext*="wps"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wps-file-format-variant.svg) !important;
}

a.type-file[data-ext*="3dm"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/3dm-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cad"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cad-file-format.svg) !important;
}

a.type-file[data-ext*="fon"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/fon-file-format-variant.svg) !important;
}

a.type-file[data-ext*="asf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/asf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="rpm"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rpm-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="vb"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/vb-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="eps"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/eps-file-format-symbol-1.svg) !important;
}

a.type-file[data-ext*="gbr"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gbr-file-format.svg) !important;
}

a.type-file[data-ext*="pdf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pdf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cgi"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cgi-file-format-variant.svg) !important;
}

a.type-file[data-ext*="doc"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/doc-file-format.svg) !important;
}

a.type-file[data-ext*="dll"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dll-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="html"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/html-file-extension-interface-symbol.svg) !important;
}

a.type-file[data-ext*="otf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/otf-file-format-symbol-1.svg) !important;
}

a.type-file[data-ext*="icns"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/icns-file-format.svg) !important;
}

a.type-file[data-ext*="wav"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wav-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="lua"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/lua-file-format-variant.svg) !important;
}

a.type-file[data-ext*="uue"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/uue-file-format.svg) !important;
}

a.type-file[data-ext*="photoshop"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/photoshop-file-format.svg) !important;
}

a.type-file[data-ext*="odf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odf-file-format.svg) !important;
}

a.type-file[data-ext*="svg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/svg-file-format-variant.svg) !important;
}

a.type-file[data-ext*="iso"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/iso-file-format-variant.svg) !important;
}

a.type-file[data-ext*="cfg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cfg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dat"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dat-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="odg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="odc"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odc-file-format.svg) !important;
}

a.type-file[data-ext*="db"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/db-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="mp3"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mp3-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dem"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dem-file-format-extension.svg) !important;
}

a.type-file[data-ext*="xlsx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/xlsx-file-format-extension.svg) !important;
}

a.type-file[data-ext*="cab"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cab-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="flash"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/flash-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="bmp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/bmp-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="css"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/css-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="gz"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gz-file-format-variant.svg) !important;
}

a.type-file[data-ext*="png"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/png-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="docx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/docx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="dds"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dds-icon.svg) !important;
}

a.type-file[data-ext*="rom"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rom-file-format.svg) !important;
}

a.type-file[data-ext*="tmp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/tmp-file-format-variant.svg) !important;
}

a.type-file[data-ext*="xls"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/xls-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="ico"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ico-file-format-variant.svg) !important;
}

a.type-file[data-ext*="cfm"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cfm-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="raw"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/raw-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="gif"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gif-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="rm"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rm-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="class"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/class-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="bin"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/bin-file-format.svg) !important;
}

a.type-file[data-ext*="ps"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ps-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="ttf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ttf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cue"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cue-file-format-variant.svg) !important;
}

a.type-file[data-ext*="key"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/key-file-format.svg) !important;
}

a.type-file[data-ext*="dmg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/dmg-file-format-variant.svg) !important;
}

a.type-file[data-ext*="mpa"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mpa-file-format-variant.svg) !important;
}

a.type-file[data-ext*="m4v"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/m4v-file-format.svg) !important;
}

a.type-file[data-ext*="pdb"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pdb-icon-file-format.svg) !important;
}

a.type-file[data-ext*="gpx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/gpx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="mdb"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mdb-file-format.svg) !important;
}

a.type-file[data-ext*="msi"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/msi-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="rtf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/rtf-file-symbol.svg) !important;
}

a.type-file[data-ext*="ibooks"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ibooks-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="sdf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sdf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="sql"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sql-file-symbol.svg) !important;
}

a.type-file[data-ext*="thm"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/thm-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="3g2"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/3g2-file-format.svg) !important;
}

a.type-file[data-ext*="fla"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/fla-file-format.svg) !important;
}

a.type-file[data-ext*="xml"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/xml-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="aspx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/aspx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="wpd"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wpd-file-format.svg) !important;
}

a.type-file[data-ext*="cpp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cpp-icon-file-format.svg) !important;
}

a.type-file[data-ext*="swf"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/swf-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="avi"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/avi-video-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="odp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odp-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="cur"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/cur-icon-file-format.svg) !important;
}

a.type-file[data-ext*="m4a"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/m4a-file-format-variant.svg) !important;
}

a.type-file[data-ext*="pct"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pct-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="pkg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pkg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="ogg"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/ogg-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="sav"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/sav-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="pages"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/pages-file-format.svg) !important;
}

a.type-file[data-ext*="csv"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/csv-file-format-extension.svg) !important;
}

a.type-file[data-ext*="odb"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/odb-file-format-variant.svg) !important;
}

a.type-file[data-ext*="flv"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/flv-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="asx"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/asx-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="mov"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/mov-file-format.svg) !important;
}

a.type-file[data-ext*="tar"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/tar-file-format-symbol.svg) !important;
}

a.type-file[data-ext*="jsp"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/jsp-file-format-variant.svg) !important;
}

a.type-file[data-ext*="wma"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/wma-file-format-variant.svg) !important;
}

a.type-file[data-ext*="kmz"]:before {
    background-image: url(++resource++xmldirector.plonecore/images/110941-file-formats-text/svg/kmz-file-format-variant.svg) !important;
}

